/* Form container */
.meetingUpdateForm {
  width: 50%;
  margin: 100px auto;
}

/* Fieldset and legend */
.meetingUpdateForm fieldset {
  border: none;
  padding: 0;
}
.meetingUpdateForm legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Input containers */
.inputContainer {
  margin-bottom: 20px;
}
.inputContainer .labels {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
.inputContainer input[type="text"],
.inputContainer input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.inputContainer input[type="text"]:focus,
.inputContainer input[type="number"]:focus {
  background-color: #fff;
  border-color: #5e9ca0;
  outline: none;
}

/* Facilities input and button */
.inputContainer div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.inputContainer div input[type="text"] {
  width: 80%;
  margin-right: 10px;
}
.inputContainer div button {
  width: 20%;
  padding: 12px 20px;
  background-color: #5e9ca0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.inputContainer div button:hover {
  background-color: #3e7d94;
}

/* Facility labels */
.inputContainer div div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.inputContainer div div input[type="checkbox"] {
  margin-right: 10px;
}
.inputContainer div div .cLabels {
  font-size: 1.2em;
}

/* Update button */
.meetingUpdateForm button {
  width: 100%;
  padding: 12px 20px;
  background-color: #5e9ca0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: -7px;
}
.meetingUpdateForm button:hover {
  background-color: #3e7d94;
}

.meetingRoomTable {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #cccccc;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #dddddd;
}

th {
  background-color: #5e9ca0;
  color: white;
}
